{% load staticfiles %}
<!DOCTYPE html>

<html lang="en-us" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    {% include "servicios/cssyjs.html" %}    
    <link rel="stylesheet" type="text/css" href="{% static 'servicios/css/jquery.orgchart.css' %}" />
    <script type="text/javascript" src="{% static 'servicios/js/jquery.orgchart.js' %}"></script>
</head>
<body>
	<div id="container">
		<!-- Header -->
        {% include "servicios/encabezado.html" %}    
        <!-- CONTENT -->
        <div id="content" class="colM">
        <h2>Cuadro clasificador</h2>
        <div id="chart-container"></div>
    </div>
    <script type="text/javascript">
        'use strict';
        (function($){
            $(function() {

                var datasource = JSON.parse('{{lista}}'.replace(/"/g, "").replace(/&quot;/g, '"'));
                $('#chart-container').orgchart({
                    'data' : datasource,
                    'nodeContent' : 'type',
                    'parentNodeSymbol' : 'fa-folder',
                    'verticalDepth' : 4,
                });
            });
        })(jQuery);
    </script>
</div>
</body>
</html>